{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
{% endblock %}

{% block header %}{% endblock %}

{% block body %}

    <!-- Bloc Connexion -->
    <div class="default_container">
        <!-- Logo et Nom du site -->
        <div class="title__connexion_container">
            <div class="logo_ENI_connexion">
                <img src="{{ asset('img/logo_ENI.png') }}" id="logo_ENI_connexion" alt="logo_ENI">
            </div>
            <div class="app_title_connexion_container">
                <h1 id="app_title">Sortir.com</h1>
            </div>
        </div>
        <!-- Formulaire de connexion -->
        <form class="login_form" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'Identifiants incorrectes') }}</div>
            {% endif %}

            {% if app.user %}
            <div class="mb-3">
                Vous êtes déjà connecté {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
            {% endif %}
            <label class="login_label" for="login_ID">Identifiant :</label>
            <input class="login_input" type="text" value="{{ last_username }}" name="email" id="login_ID" autocomplete="email" required autofocus>
            <label class="login_label" for="password">Mot de passe :</label>
            <input class="login_input" type="password" name="password" id="password" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div id="remember_me">
                <input type="checkbox" name="_remember_me" id="remember_me_checkbox">
                <label for="remember_me_checkbox">Se souvenir de moi</label>
            </div>
            <button type="submit" class="default_principal_button" id="connexion">Connexion</button>
            <button class="default_secondary_button" id="forgotten_password" formnovalidate>
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a></button>
        </form>

    </div>

    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'Identifiants incorrectes') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>


    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
