{% extends 'base.html.twig' %}

{% block body %}

    {% if (participant.photo) %}
        <img src="{{ asset('photos/' ~ participant.photo) }}" alt="Photo de profil">
    {% endif %}

        <h2>{{participant.pseudo}}</h2>
        <div>Prénom : {{ participant.prenom }}</div>
        <div>Nom : {{ participant.nom }}</div>
        <div>Téléphone : {{ participant.telephone }}</div>
        <div>Email : {{ participant.email }}</div>
        <div>Campus : {{ participant.campus.nom }}</div>
        <div>
            <a href="{{ path("sortie_listeSortie") }}" title="accueil"><button type="button">Retour</button></a>
        </div>

{% endblock %}

{% block title %}Profil | {{ parent() }}{% endblock %}

