{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Réinitialiser le mot de passe {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/oublieMdpReset.css') }}">
{% endblock %}

{%  block header %}{% endblock %}

{% block body %}
<section class="default_container">

    <div class="reset_pwd_container">
        <!-- Titre du bloc "Réinitialisation du mot de passe" -->
        <h2>Réinitialiser votre mot de passe</h2>

        {{ form_start(resetForm, {'attr': {'class': 'reset_pwd_form'}, 'render_form': false}) }}

        <label class="column1 row1 default_label">Nouveau mot de passe :</label>
        {{ form_widget(resetForm.plainPassword.first, {'label': false, 'attr': {'class': 'colum2 row1 default_input', 'type':'email', 'required': 'required'}}) }}
        <div class="column2 row2 default_error_message">{{ form_errors(resetForm.plainPassword.first) }}</div>

        <label class="column1 row3 default_label">Confirmez le mot de passe :</label>
        {{ form_widget(resetForm.plainPassword.second, {'label': false, 'attr': {'class': 'colum2 row3 default_input', 'type':'email', 'required': 'required'}}) }}
        <div class="column2 row4 default_error_message">{{ form_errors(resetForm.plainPassword.second) }}</div>

        <div class="column1-2 row5"><button type="submit" class="default_principal_button" >Réinitialiser le mot de passe</button></div>

        {{ form_end(resetForm) }}
    </div>
</section>

{% endblock %}
