{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Annuler une sortie
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/annulerSortie.css') }}">>
{% endblock %}

{% block body %}

    <section class="default_container">
        <h2>Annuler une sortie</h2>
        <!-- Formulaire de création d'une sortie-->
        {{ form_start(SortieType, {'attr': {'class': 'cancel_event_container', 'id' : 'form_cancel_event'}, 'render_form': false}) }}
        <!-- Bloc Formulaire -->
        <label for="event_name" class="column1 row1 default_label">Nom de la sortie :</label>
        <span class="column2-3 row1 default_span" id="event_name">{{ sortie.nom }}</span>

        <label for="event_date_begin" class="column1 row3 default_label">Date de sortie :</label>
        <span class="column2 row3 default_span" id="event_date_begin">{{ sortie.dateDebut|date('d/m/Y') }}</span>

        <label class="column1 row5 default_label">Campus</label>
        <span class="column2-3 row5 default_span" id="event_campus">{{ sortie.campus }}</span>

        <label for="event_place" class="column1 row7 default_label">Lieu :</label>
        <span class="column2-3 row7-9 default_span" id="cancel_place_event">{{ sortie.lieu }}<br>{{ sortie.lieu.rue }}<br>{{ sortie.lieu.ville.codePostal }}  {{ sortie.lieu.ville }}</span>

        <label class="column1 row11 default_label">Motif :</label>
        {{ form_widget(SortieType.motif, {'label': false,'attr': {'class':'column2-3 row11-13 default_textarea', 'required': 'required'}}) }}
        <div class="column2-3 row14 default_error_message">{{ form_errors(SortieType.motif) }}</div>

        <div class="cancel_event_button">
            {{ form_widget(SortieType.creer, {'label' : 'Annuler', 'attr': {'class': 'default_principal_button', 'id': 'creation_event_cancel'}}) }}
            <button class="default_secondary_button" id="creation_event_cancel" formnovalidate>Retour</button>
        </div>
        {{ form_row(SortieType._token) }}
        {{ form_end(SortieType, {render_rest: false}) }}
    </section>

{% endblock %}

