{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Créer une sortie
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/creerUneSortie.css') }}">
{% endblock %}

{% block body %}
<section class="default_container">
    <h2>Créer une sortie</h2>
    <!-- Formulaire de création d'une sortie-->

    {{ form_start(SortieType) }}
    {{ form_row(SortieType.nom) }}
    {{ form_row(SortieType.dateDebut) }}
    {{ form_row(SortieType.dateLimiteInscription) }}
    {{ form_row(SortieType.nbInscritptionMax) }}
    {{ form_row(SortieType.duree) }}
    {{ form_row(SortieType.description) }}
    {{ form_row(SortieType.campus) }}
    {{ form_row(SortieType.ville) }}
    {{ form_row(SortieType.lieu) }}
    <button type="submit">Envoyer</button>
    {{ form_end(SortieType) }}

</section>
    <script>
        window.onload = () => {
            let sortie_ville = document.querySelector("#sortie_ville");
            sortie_ville.addEventListener("change", function(){
                let form = this.closest("form");
                let data = this.name + "=" + this.value;

                fetch(form.action, {
                    method: form.getAttribute("method"),
                    body: data,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded; charset:UTF-8"
                    }
                })
                    .then(response => response.text())
                    .then(html => {
                        let content = document.createElement("html");
                        content.innerHTML = html;
                        let nouveauSelect = content.querySelector("#sortie_lieu");
                        document.querySelector("#sortie_lieu").replaceWith(nouveauSelect);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            });
        }
    </script>
<!--
    <script
        src="{{  asset('js/formSortieLieuParVille.js') }}">
        </script>
-->
{% endblock %}