{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Détail d'une sortie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/afficherUneSortie.css') }}">
{% endblock %}

{% block body %}
    <div id="main_display_event_container">
        <section class="default_container" id="event_display_container">
            <!-- Titre du container -->
            <h2>Afficher une sortie</h2>

            <!-- Partie "Affichage des infos sur la sortie" -->
            <div class="event_display">
                <label class="column1 row1 default_label">Nom de la sortie :</label>
                <span class="column2-5 row1 default_span" id="event_name">{{ sortie.nom }}</span>

                <label class="column1 row2 default_label">Date et heure de la sortie :</label>
                <span class="column2-4 row2 default_span" id="event_date_begin">{{ sortie.dateDebut|date('Y-m-d H:i') }}</span>

                <label class="column1 row3 default_label">Date limite d'inscription :</label>
                <span class="column2-4 row3 default_span" id="event_deadline_registration">{{ sortie.dateLimiteInscription|date('Y-m-d') }}</span>

                <label class="column1 row4 default_label">Nombre de places :</label>
                <span class="column2 row4 default_span" id="event_number_places">{{ sortie.nbInscritptionMax }}</span>
                <span id="event_person_number">personnes</span>

                <label class="column1 row5 default_label">Durée :</label>
                <span class="column2 row5 default_span" id="event_duration">{{ sortie.duree }}</span>
                <span id="event_duration_unit">minutes</span>

                <label for="event_description" class="column1 row6 default_label">Description et infos :</label>
                <span class="column2-5 default_textarea" id="event_description">{{ sortie.description }}</span>

                <label class="column6 row1 default_label">Campus</label>
                <span class="column7-8 row1 default_span" id="event_campus">{{ sortie.campus.nom }}</span>

                <label class="column6 row2 default_label">Ville :</label>
                <span class="column7-8 row2 default_span" id="event_city">{{ sortie.lieu.ville.nom }}</span>

                <label class="column6 row3 default_label">Lieu :</label>
                <span class="column7-8 row3 default_span" id="event_place">{{ sortie.lieu.nom }}</span>

                <label class="column6 row4 default_label">Rue</label>
                <span class="column7-8 row4 default_span" id="event_street">{{ sortie.lieu.rue }}</span>

                <label class="column6 row5 default_label">Code postal</label>
                <span class="column7 row5 default_span" id="event_postal_code">{{ sortie.lieu.ville.codePostal }}</span>

                {% if (sortie.etat.libelle == 'Annulée') %}
                <label for="event_reason" class="column6 row6 default_label">Motif d'annulation :</label>
                <span class="column7-8 default_textarea" id="event_reason">{{ sortie.motif }}</span>
                {% else %}
                <label class="column6 row6 default_label">Latitude</label>
                <span class="column7 row6 default_span" id="event_latitude">{{ sortie.lieu.latitude }}</span>

                <label class="column6 row7 default_label">Longitude</label>
                <span class="column7 row7 default_span" id="event_longitude">{{ sortie.lieu.longitude }}</span>
                {% endif %}

                <div class="display_event_button">
                    {% if is_granted('ROLE_ADMIN') %} <!-- Affichage des boutons pour un Administrateur -->

                        {% if sortie.organisateur.id == app.user.id %} <!-- Si l'utilisateur connecté est l'organisateur de la sortie -->
                            {% if (sortie.etat.libelle == 'Créée') and  sortie.dateDebut > date() %}
                                <div class="table_link">
                                    <form action="{{ path('sortie_modifierSortie', { 'id': sortie.id }) }}"
                                          method="post"><input type="hidden" name="_method" value="POST">
                                        <button class="default_tertiary_button">Modifier</button>
                                    </form>
                                </div>
                                <div class="table_link">
                                    <form action="{{ path('sortie_publierSortie', { 'id': sortie.id }) }}"
                                          method="post"><input type="hidden" name="_method" value="POST">
                                        <button class="default_principal_button">Publier</button>
                                    </form>
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if sortie.etat.libelle == 'Ouverte' and sortie.dateDebut > date() %} <!-- Inscription / Désinscription en fonction de l'état de la sortie -->
                            <div class="table_link">
                                <form action="{{ path('sortie_annulerSortie', { 'id': sortie.id }) }}"
                                      method="post"><input type="hidden" name="_method" value="POST">
                                    <button class="default_secondary_button">Annuler</button>
                                </form>
                            </div>
                            {% if app.user in sortie.participants %}
                                <div class="table_link">{% include('inc/desister.html.twig') %}</div>
                            {% elseif sortie.organisateur.id != app.user.id %}
                                <div class="table_link">{% include('inc/inscrire.html.twig') %}</div>
                            {% endif %}


                        {% elseif sortie.etat.libelle == 'Clôturée' and sortie.dateDebut > date() %}
                            {% if app.user in sortie.participants %}
                                <div class="table_link">{% include('inc/desister.html.twig') %}</div>
                                <div class="table_link">
                                    <form action="{{ path('sortie_annulerSortie', { 'id': sortie.id }) }}"
                                          method="post"><input type="hidden" name="_method" value="POST">
                                        <button class="default_secondary_button">Annuler</button>
                                    </form>
                                </div>
                            {% endif %}
                        {% endif %}

                    {% elseif is_granted('ROLE_PARTICIPANT') %} <!-- Affichage des boutons pour un Participant classique -->

                        {% if sortie.organisateur.id == app.user.id %} <!-- Si l'utilisateur connecté est l'organisateur de la sortie -->
                            {% if sortie.etat.libelle == 'Créée' and sortie.dateDebut > date() %}
                                <div class="table_link">
                                    <form action="{{ path('sortie_modifierSortie', { 'id': sortie.id }) }}"
                                          method="post"><input type="hidden" name="_method" value="POST">
                                        <button class="default_principal_button">Modifier</button>
                                    </form>
                                </div>
                                <div class="table_link">
                                    <form action="{{ path('sortie_publierSortie', { 'id': sortie.id }) }}"
                                          method="post"><input type="hidden" name="_method" value="POST">
                                        <button class="default_tertiary_button">Publier</button>
                                    </form>
                                </div>
                            {% elseif sortie.etat.libelle == 'Ouverte' and sortie.dateDebut > date() %}
                                <div class="table_link">
                                    <form action="{{ path('sortie_annulerSortie', { 'id': sortie.id }) }}"
                                          method="post"><input type="hidden" name="_method" value="POST">
                                        <button class="default_secondary_button">Annuler</button>
                                    </form>
                                </div>
                            {% elseif sortie.etat.libelle == 'Clôturée' and sortie.dateDebut > date() %}
                                <div class="table_link">
                                    <form action="{{ path('sortie_annulerSortie', { 'id': sortie.id }) }}"
                                          method="post"><input type="hidden" name="_method" value="POST">
                                        <button class="default_secondary_button">Annuler</button>
                                    </form>
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if sortie.etat.libelle == 'Ouverte' and sortie.dateDebut > date() and sortie.organisateur.id != app.user.id %} <!-- Inscription / Désinscription en fonction de l'état de la sortie -->
                            {% if app.user in sortie.participants %}
                                <div class="table_link">{% include('inc/desister.html.twig') %}</div>
                            {% else %}
                                <div class="table_link">{% include('inc/inscrire.html.twig') %}</div>
                            {% endif %}
                        {% elseif sortie.etat.libelle == 'Clôturée' and sortie.dateDebut > date() %}
                            {% if app.user in sortie.participants %}
                                <div class="table_link">{% include('inc/desister.html.twig') %}</div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <a href="{{ path("sortie_listeSortie") }}"><button type="button" class="default_secondary_button" formnovalidate>Retour</button></a>
                </div>
            </div>
        </section>

        <section class="default_container" id="participants_list_container">
            <!-- Titre du container -->
            <h2>Participants</h2>

            <!-- Tableau "Liste des participants" -->
            <div class="default_table_wrapper">
                <table class="default_table">
                    <!-- Titre du tableau -->
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <!-- Contenu du tableau -->
                    <tbody>
                    {% for participant in sortie.participants %}
                        <tr>
                            <td>
                                <a href="{{ path('participant_afficherProfil', {'id': participant.id}) }}">
                                {{ participant.pseudo }}</a>
                            </td>
                            <td>
                                <a href="{{ path('participant_afficherProfil', {'id': participant.id}) }}">
                                {{ participant.prenom }} {{ participant.nom }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}

