{% extends 'base.html.twig' %}

{% block body %}


    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button>Rechercher</button>
    {{ form_end(sortieForm) }}

    <table>
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits / places</th>
                <th>Organisateur</th>
                <th>Etat</th>
                <th>Actions</th>

            </tr>
        </thead>
            <tbody>
            {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateDebut|date('d-m-Y') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d-m-Y') }}</td>
                <td>{{ sortie.nbInscritptionMax }}</td>
                <td>{{ sortie.organisateur }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>

                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('sortie_detailSortie', { 'id': sortie.id }) }}">Afficher</a></td>
                    <td><a href="{{ path('sortie_detailSortie', { 'id': sortie.id }) }}">- Modifier</a></td>
                {% elseif is_granted('ROLE_PARTICIPANT') and app.USER and sortie.organisateur.id == app.user.id %}
                    <td><a href="{{ path('sortie_detailSortie', { 'id': sortie.id }) }}">Afficher</a></td>
                    <td><a href="{{ path('sortie_detailSortie', { 'id': sortie.id }) }}">- Modifier</a></td>

                {% elseif is_granted('ROLE_PARTICIPANT') %}
                    {% if app.user in sortie.participants %}
                        <td><a href="#">Se désinscrire</a></td>
                    {% else %}
                        <td><a href="#">- Modifier</a>S'inscrire</td>
                    {% endif %}


                {% elseif is_granted('ROLE_PARTICIPANT') %}
                    <td><a href="{{ path('sortie_detailSortie', { 'id': sortie.id }) }}">Afficher</a></td>

                {% endif %}

            </tr>
            </tbody>
        {% endfor %}

    </table>

{% endblock %}


{% block title %}

{% endblock %}

