<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Sortir.com{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/headerNav.css') }}">
            <link rel="stylesheet" href="{{ asset('css/globalSyle.css') }}">
            <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        {% endblock %}
    </head>
    <body>

    {% block header %}
	<header>
        {% include('inc/nav.html.twig') %}
    </header>
    {%  endblock %}

    <main>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="default_flash-message {{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

		{% block body %}{% endblock %}
    </main>

    <footer>
		{% include('inc/footer.html.twig') %}
    </footer>

    </body>
</html>
