{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Activation/Désactivation Participant
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/gestionParticipant.css') }}">
{% endblock %}

{% block body %}

    <section class="default_container">
        <!-- Titre du container -->
        <h2>Gestion des participants</h2>

        <!-- Tableau "Liste des participants" -->
        <div class="default_table_wrapper">
            <table class="default_table">
                <!-- Titre du tableau -->
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Campus</th>
                    <th>Date de Création</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Action</th>
                </tr>
                </thead>
                <!-- Contenu du tableau -->
                <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.pseudo }}</td>
                        <td>{{ participant.prenom }}</td>
                        <td>{{ participant.nom }}</td>
                        <td>{{ participant.email }}</td>
                        <td>{{ participant.campus }}</td>
                        <td>{{ participant.dateCreation|date('d/m/Y') }}</td>

                        <td>
                            {% set participantInState = false %}
                            {% for sortie in participant.sortiesParticipant %}
                                {% if sortie.etat.libelle in ['Ouverte', 'Clôturé', 'Activité en cours'] %}
                                    {% set participantInState = true %}
                                {% endif %}
                            {% endfor %}
                            {% if participantInState %}
                                X
                            {% endif %}
                        </td>
                        <td>
                            {% set organisateurInState = false %}
                            {% for sortie in participant.sortiesOrganisateur %}
                                {% if sortie.etat.libelle in ['Ouverte', 'Clôturé', 'Activité en cours'] %}
                                    {% set organisateurInState = true %}
                                {% endif %}
                            {% endfor %}
                            {% if organisateurInState %}
                                X
                            {% endif %}
                        </td>
                        <td>
                            {%  if participant.actif %}
                            <div class="table_link">{% include('admin/participant/desactiver.html.twig') %}</div>
                            {% else %}
                            <div class="table_link">{% include('admin/participant/reactiver.html.twig') %}</div>
                            {% endif %}
                            <div class="table_link">{% include('admin/participant/supprimer.html.twig') %}</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <div class="user_management">
        <button class="default_principal_button"><a href="{{ path("app_register") }}" title="user_create">Créer un participant</a></button>
        <button class="default_tertiary_button"><a href="{{ path("admin_app_import_csv") }}" title="load_file">Charge un fichier .csv</a></button>
    </div>


{% endblock %}


